*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #C9BBCF;
    font-family: 'Ibarra Real Nova', serif;
}
.main{
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    background-color: #F7EDDB;
}
.left-div{
    width: 30%;
    float: left;
    background-color: #B7D3DF;
    padding: 5px;
}
.image{
    height: 150px;
    width: 150px;
    float: left;
    padding: 20px;
}
.div-clear{
    clear: both;
}
hr{
    border: solid black 1px;
    
    margin-right: 30%;
}
.personal{
    border: 50px;
}
h4{
    margin: 10px;
}
.pi-icon{
    margin-left: 70px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.about-me{
    padding: 20px;
    margin-left: 50px;
}
.links-button{
    margin-left: 70px;
    font-size: 30px;
    text-decoration: none;
}


.right-div{
    width: 70%;
    float: right;
    padding-bottom: 13px;
    background-color: #D6EFED;
}
h1{
    margin: 10px;
}
.summary{
    margin-left: 60px;
    padding: 10px;
    
}
.Work-experience{
    margin-left: 60px;
    padding: 10px;
}
.education{
    margin-left: 60px;
    padding: 10px;

}
.projects{
    margin-left: 60px;
    padding: 10px;
}